# NextJS
/.next/
/out/

# Production
/build

# Typescript
*.tsbuildinfo
next-env.d.ts

# Node modules
node_modules/

# Environmental variables 
.env

# Authentication credentials
auth/

# Archived folder 
archived/

# Vercel
.vercel

# Local test files and notes
practice.ts
notes.md
